#stream-section {
    padding-top: 100px;
    text-align: center;
}
h2.stream-subtext {
    padding-top: 20px;
}
.fa-twitter:hover {
    color: rgb(18, 123, 228);
}
.fa-instagram {
    color: #fff;
}
.fa-instagram:hover {
    color: rgb(228, 18, 98);
}

/* @media only screen and (max-width: 920px) {
    button.navbar-toggler.navbar-toggler-right {
        display: flex !important;
    }
} */